.bg-custom{
    font-weight: 700!important;
}


.icon-img{
    background-image: linear-gradient(to bottom right,#f90183,#a41cb3) !important;
    padding: 6px;
    border-radius: 15%;
    max-height: 36px;
}
