body{
    background-color: #1B262C !important;
}
h3{
    color: #FFA372;
}
.upload-container {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
    text-align: center
}

.list-data{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5%;
    background-color: #202C32;
    color: white;
    display:flex;
    justify-content: space-evenly;
}

.start-button{
    border-radius: 50%;
    background-color: #1B262C;
    border-color: #ED6663;
    width: 200%;
    height: 80%;
    color: white;
}