.charts-container{
    padding-top: 2%;
    margin-top: 5%;
    /* background-color: #21ecf7; */

}

.top-monitor{
    margin-left: 32%;
    width: 50%;
    /* border: 3px solid green; */
    /* padding: 10px; */
}
.side-top{
    width: 50%;
}



.matrix{
    padding: 2%;
    color: black;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5%;
}

.js-plotly-plot{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.stat-table{
    padding: 2%;
    border-radius: 5%;
    padding-right: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 20%;
    margin-bottom: 20%;
}


.bottom-monitor{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-gap: 50px;
    /* width: 50%; */
    margin-left:18%;
}

.plot{
    background-color: white;
    border-radius: 5%;
    padding: 3%;
    width: 90%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 auto

}

.plot-title{
    display: flex;
    justify-content: space-evenly;
}

.area-title{
    text-align: center;
    margin-right: 10%;
    margin-bottom: 5%;
    font-size: 24px;
}

.css-1f2xuhi-MuiDrawer-docked .MuiDrawer-paper {
    width: 240px;
    box-sizing: border-box;
    z-index: 0;
}

.bg-primary {
    z-index: 1;
}